@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montaga&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply min-h-full grid;
	}

	body {
		@apply flex flex-col bg-background dark:bg-backgroundDark container
			max-w-screen-xl bg-gradient-to-br from-background to-primary-950
			dark:from-backgroundDark dark:to-primary-100;
	}

	main {
		@apply flex-auto;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-serif;
	}

	:where(h1) {
		margin-block: 0.67em;
		font-size: 2em;
	}

	.youtube {
		@apply w-full aspect-video;
	}

	pre code {
		@apply block w-0;
	}
}

.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
	height: auto;
}
